<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        body         { padding-top:80px; }
    </style>
</head>

<body>
    <h1><%= title %></h1>
    <% if ( user ) { %>
        <h2>omg hey there <%=user%> </h2>
        <a href="/logout" class ="btn btn-default"><span class ="fa fa-user"></span> Logout</a>
    <% } else { %>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>  Login</a>
        
        <a href="/register" class="btn btn-default"><span class="fa fa-user"></span>  Signup</a>
    <% } %>
 
</body>

</html>